body{
    background-color:  #B2C2D2;
    background-image: url("../img/logo_auditum.png");
        background-repeat: no-repeat;
	width: 80%;
	margin:auto;
	font-size: 1.3em;
}

h1{
	text-transform: uppercase;
	text-decoration: underline;
	text-align: center;
	margin-bottom: 100px;
}

h2{
	color: white;
	background-color: #0000FF;
	padding-left: 10px;
}

ul{
	list-style: none;

}

header{
    background-color: rgba(33, 33, 33, 0.5);
    position: relative;
    top:50px;

    color: #333;
    width: 800px;
    margin: auto;
}

li{
    color:blue;
}

p{
    background-color: rgba(33, 33, 33, 0.2);
}

